body {
    font-family: Arial, sans-serif;
    background-color: #a73535; /* Vermelho claro */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    text-align: center;
  }
  
  h1 {
    font-size: 32px;
    color: #333;
  }
  
  button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #e2dddd; /* Vermelho mais escuro */
    border: none;
    color: rgb(133, 40, 40);
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #d55050; /* Vermelho ainda mais escuro no hover */
  }
  
